:root {
  /* Font */
  --font-primary: 500 25px Poppins;
  --font-secondary: 400 15px Inter;

  /* Colors - Styles */
  --background-primary: #181720;
  --background-secondary: #1f1d2b;
  --color-one: #2d2f47;
  --color-two: #705BC2;
  --color-three: #c3c1d1;
  --color-four: #fff;

  --color-hover: #705BC2;

  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;

  --line-one: linear-gradient(90deg, #6C5ECF 25.97%, #1C5CA6 101.2%);
  --line-two: #D5D5D5;
}

/* Page - Styles */

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  scrollbar-width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-primary);
    color: var(--color-four);
    font: var(--font-secondary);
}

::selection {
    background-color: var(--background-secondary);
    color: var(--color-three);
}

iframe {
    display: none;
}

/* Header / Footer */

.header, .footer {
  background-color: var(--background-secondary);
  user-select: none;
}

.header section, .footer section {
  padding: 15px;
}

.header h1 {
  font: var(--font-primary);
  font-size: 35px;
  text-align: center;
}

.header b {
  color: var(--color-two);
}

.lineheader, .linefooter {
  height: 1.7px;
  background: var(--line-one);
}

.linefooter {
  transform: rotate(180deg);
}

.footer p, .footer b {
  font: var(--font-secondary);
  color: var(--color-three);
  text-align: center;
}

/* Main */

.main {
  margin: 150px 50px;
  padding: 0 100px;
}

.main section {
  max-width: 750px;
  margin: auto;
}

.main h2 {
  text-align: center;
  font: var(--font-primary);
  font-size: 3rem;
}

.main ul {
  margin-top: 20px;
  list-style: none;
}

.main li, .main a {
  margin-top: 15px;
  text-align: justify;
  font: var(--font-secondary);
  font-size: 18px;
  color: var(--color-three);
  line-height: 1.5rem;
}

.main a:hover {
  color: var(--color-hover);
  transition: 0.5s;
}

.main nav {
  display: flex;
  align-items: center;
}

#nav a {
  padding: 25px 35px;
  background-color: var(--background-secondary);
  border-radius: 7px;
  text-decoration: none;
  border: 2px solid var(--background-secondary);
}

#nav a:hover {
  border-color: var(--color-hover);
  transition: 0.5s;
}

#links-82246 {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 100px 20px;
    padding: 0;
  }

  #nav {
    display: grid;
  }

  #nav a {
    text-align: center;
  }

  #links-82246 {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .header h1 {
    font-size: 25px;
  }

  .main h2 {
    font-size: 2rem;
  }

  .footer b {
    display: none;
  }
}