:root {
  /* Color - Footer */
  --background-main: #181720;
  --background-secondary-main: #1f1d2b;
  --font-color-main: #808191;
  --font-color-two-main: #6a5ece;
  --font-color-three-main: #c3c1d1;
  --color-main: #808191;
  --color-two-main: #252836;
  --color-three-main: #ffffff;
  --linear-primary-main: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);
  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;

  /* Color - Header */
  --background: #181720;
  --background-primary: #181720;
  --background-one: #1f1d2b;
  --background-two: #252836;
  --color-primary: #ffffff;
  --color-one: #2d2f47;
  --color-two: #6a5ece;
  --color-three: #c3c1d1;
  --color-hover-one: #6a5ece;

  /* Color Linear */
  --linear-one: linear-gradient(125.59deg, #1c5ba6 -24.74%, rgba(73, 89, 182, 0.95) 52.13%, rgba(101, 88, 192, 0.81) 78.51%);
  --linear-two: linear-gradient(-180deg, #1c5ca6 -24.74%, rgba(108, 94, 207) 52.13%);
  --linear-three: linear-gradient(90deg, #6c5ecf 2.21%, #1f1d2b 81.11%);
  --linear-four: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);
  --linear-primary-main: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);

  /* Font */
  --font-primary: 500 25px 'Poppins';
  --font-secondary: 400 15px 'Inter';

  /* Loader-C */
  --loader-background: #252836;
  --loader-c: #6a5ece;
}

/* Animation - Loader */

/* body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  transform: scale(5);
} */

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid var(--loader-background);
  border-radius: 50%;
  border-top-color: var(--loader-c);
  height: 50px;
  width: 50px;
  margin: auto;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

/* Body - Styles */

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  scrollbar-width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--color-main);
    font: var(--font-secondary);
}

::selection {
    background-color: var(--background-two);
    color: var(--color-main);
}

iframe {
    display: none;
}

/* Header & Footer - Styles */

.header, .footer {
    user-select: none;
    background-color: var(--background-secondary-main);
}

.header {
    margin-bottom: 35px;
}

.header section, .footer section {
    padding: 15px;
    text-align: center;
}

.header h1 {
    font: 800 25px 'Overpass', sans-serif;
    color: var(--color-three);
}

.header b {
    color: var(--color-two);
}

.header div {
    height: 2px;
    background: var(--linear-primary-main);
}

.footer {
    margin-top: 35px;
}

.footer div {
    height: 2px;
    background: var(--linear-primary-main);
    transform: rotate(180deg);
}

.footer p, .footer i {
    font: 500 15px 'Inter', sans-serif;
    color: var(--color-main);
}

@media screen and (max-width: 525px) {
    .header h1 {
        font-size: 22px;
    }

    #desktop {
        display: none;
    }
}

/* Main - Styles */

.main {
    margin: 0;
}

.main {
    display: grid;
    align-items: center;
    justify-content: center ;
    text-align: center;
}

.info p {
    font: var(--font-secondary);
    color: var(--color-main);
    margin-bottom: 5px;
}

.info a {
    font: var(--font-secondary);
    color: var(--color-main);
}

.info a:hover {
    color: var(--color-hover-one);
    transition: 0.3s;
}

/* Uptade - v.3.2 */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main {
    position: absolute;
    width: 100%;
    height: 55%;
}

.c-loader {
    border: 10px solid var(--loader-background);
    border-top-color: var(--loader-c);
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}