:root {
  /* Color - Footer */
  --background-main: #181720;
  --background-secondary-main: #1f1d2b;
  --font-color-main: #808191;
  --font-color-two-main: #6a5ece;
  --font-color-three-main: #c3c1d1;
  --color-main: #808191;
  --color-two-main: #252836;
  --color-three-main: #ffffff;
  --linear-primary-main: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);
  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;

  /* Color - Header */
  --background: #181720;
  --background-primary: #181720;
  --background-one: #1f1d2b;
  --background-two: #252836;
  --color-primary: #ffffff;
  --color-one: #2d2f47;
  --color-two: #6a5ece;
  --color-three: #c3c1d1;
  --color-hover-one: #6a5ece;

  /* Color Linear */
  --linear-one: linear-gradient(125.59deg, #1c5ba6 -24.74%, rgba(73, 89, 182, 0.95) 52.13%, rgba(101, 88, 192, 0.81) 78.51%);
  --linear-two: linear-gradient(-180deg, #1c5ca6 -24.74%, rgba(108, 94, 207) 52.13%);
  --linear-three: linear-gradient(90deg, #6c5ecf 2.21%, #1f1d2b 81.11%);
  --linear-four: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);
  --linear-primary-main: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);

  /* Font */
  --font-primary: 500 25px Poppins;
  --font-secondary: 400 15px Inter;
}

/* Page - Styles */

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  scrollbar-width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--color-main);
    font: var(--font-secondary);
}

::selection {
    background-color: var(--background-two);
    color: var(--color-main);
}

iframe {
    display: none;
}

/* Header & Footer - Styles */

.header, .footer {
    user-select: none;
    background-color: var(--background-secondary-main);
}

.header {
    margin-bottom: 35px;
}

.header-only, .footer-only {
    padding: 15px;
    text-align: center;
}

.header-only h1 {
    font: 800 25px 'Overpass', sans-serif;
    color: var(--color-three);
}

.header-only b {
    color: var(--color-two);
}

.line-header {
    height: 2px;
    background: var(--linear-primary-main);
}

.footer {
    margin-top: 35px;
}

.line-footer {
    height: 2px;
    background: var(--linear-primary-main);
    transform: rotate(180deg);
}

.footer-only copyright, .footer-only i {
    font: 500 15px 'Inter', sans-serif;
    color: var(--color-main);
}

/* Main - Styles */

.main {
    margin: 200px 50px;
}

.main-only {
    padding: 25px 15px;
}

ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

li {
    display: grid;
}

.main-only h3 {
    font: 700 30px 'Overpass', sans-serif;
    color: var(--font-color-main);
    margin-bottom: 10px;
}

.main-only b {
    color: var(--font-color-two-main);
}

li:nth-child( 1 ) {
    margin-bottom: 60px;
}

.main-only a {
    font: 500 15px 'Inter', sans-serif;
    color: var(--font-color-main);
    text-decoration: none;
    line-height: 35px;
    position: relative;
    width: max-content;
}

.main-only a:hover {
  color: var(--color-hover-one);
}

.main-only a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--linear-primary-main);

  position: absolute;
  left: 0;
  bottom: -1px;

  transition: width 0.3s;
}

.main-only a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
    .main-only ul {
        justify-content: space-between;
    }
}

@media screen and (max-width: 525px) {
    .header-only h1 {
        font-size: 22px;
    }

    .main {
        margin: 120px 25px;
    }

    .main-only ul {
        display: grid;
        place-content: center;
    }

    .links-1 {
        margin-bottom: 60px;
    }

    #desktop {
        display: none;
    }
}