:root {
  /* Color - Footer */
  --background-main: #181720;
  --background-secondary-main: #1f1d2b;
  --font-color-main: #808191;
  --font-color-two-main: #6a5ece;
  --font-color-three-main: #c3c1d1;
  --color-main: #808191;
  --color-two-main: #252836;
  --color-three-main: #ffffff;
  --linear-primary-main: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);
  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;

  /* Color - Header */
  --background: #181720;
  --background-primary: #181720;
  --background-one: #1f1d2b;
  --background-two: #252836;
  --color-primary: #ffffff;
  --color-one: #2d2f47;
  --color-two: #6a5ece;
  --color-three: #c3c1d1;
  --color-hover-one: #6a5ece;
  --color-hover: #6a5ece;

  /* Color Linear */
  --linear-one: linear-gradient(125.59deg, #1c5ba6 -24.74%, rgba(73, 89, 182, 0.95) 52.13%, rgba(101, 88, 192, 0.81) 78.51%);
  --linear-two: linear-gradient(-180deg, #1c5ca6 -24.74%, rgba(108, 94, 207) 52.13%);
  --linear-three: linear-gradient(90deg, #6c5ecf 2.21%, #1f1d2b 81.11%);
  --linear-four: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);
  --linear-primary-main: linear-gradient(90deg, #1c5ca6 32.27%, #1e5ca7 32.28%, #6c5ecf 81.91%);

  /* Font */
  --font-primary: 500 25px 'Poppins';
  --font-secondary: 400 15px 'Inter';

  /* FLCOMPY - Header | Services */
  --bg-service: #1f1d2b;
}

/* Scoll - Styles */
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  scrollbar-width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

label {
  font: var(--font-secondary);
}

/* Hearder - Style */

.header {
  background: var(--background-secondary-main);
  padding: 1px;
}

.header-css {
  user-select: none;
}

.line-header {
  height: 2px;
  background: var(--linear-primary-main);
  transform: rotate(180deg);
}

.cont-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont-menu {
  padding: 12px 0;
}

.pages-forml,
.pages-forml b {
  display: flex;
  align-items: center;
  font: 800 17px 'Overpass', sans-serif;
}

.pages-forml a,
.pages-forml {
  color: var(--color-three);
  text-decoration: none;
}

.pages-forml a:hover,
.title-manu:hover,
.title-manu-1:hover,
.title-manu-2:hover,
.button-term-home:hover,
.button-solic-home:hover,
.grid li:hover a:hover,
.toggle:hover svg:hover {
  color: var(--color-hover-one);
  fill: var(--color-hover-one);
  transition: 0.3s;
}

.toggle svg {
  fill: var(--color-main);
}

.toggle svg:hover {
  color: var(--color-hover-one);
}

.pages-forml b {
  color: var(--color-two) !important;
  margin: 0 1px;
}

.title-manu,
.title-manu-1,
.title-manu-2 {
  font: 600 17px 'Overpass', sans-serif;
  color: var(--color-three);
  text-decoration: none;
}

.line01 {
  margin-bottom: 60px;
}

.div-line01,
.div-line04 {
  height: 2px;
  background: var(--linear-one);
}

/* Menu - Styles */

.head-al {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sect1-log img {
  width: 80px;
}

/*=== NAV BAR MENU ====*/

/*Global*/

ul {
  list-style: none;
}

/* Desktop */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open,
.close {
  display: none;
}

/*Mobile*/

@media screen and (max-width: 864px) {
  nav.container {
    height: 4.5rem;
    display: flex;
    align-items: center;
  }

  .title-manu,
  .title-manu-1,
  .title-manu-2 {
    margin: 0;
    text-align: center;
  }

  .menu,
  .grid,
  .grid li {
    text-align: center;
  }

  .cont-menu {
    padding: 0;
  }

  .menu {
    display: grid;
  }

  .grid {
    display: grid;
  }

  .grid a {
    line-height: 5.125rem;
  }

  nav ul li {
    text-align: left;
  }

  .loh-bar {
    width: 2rem;
  }

  .open,
  .close {
    display: inline;
  }

  nav .menu {
    opacity: 0;
    visibility: hidden;
  }

  div .menu {
    display: grid;
    justify-content: center;
  }

  nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--background);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
  }

  nav.show .menu a {
    transition: color 0.2s;
    position: relative;
  }

  nav.show .menu,
  .title-manu:hover,
  .title-manu-1:hover,
  .title-manu-2:hover {
    color: var(--color-hover-one);
  }

  nav.show .menu {
    display: grid;
    place-content: center;
  }

  .toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }

  nav .close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -1.5rem;
    right: 1.5rem;

    transition: 0.2s;
  }

  nav.show div.close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
  }
}

/* AtualizaÃ§ÃĢo */

main {
  margin-bottom: 135px;
}

/* Footer */

.footer {
  background-color: var(--background-secondary-main);
  user-select: none;
  margin-top: 35px;
  height: max-content;
}

.div-line02 {
  background: var(--linear-primary-main);
  height: 2px;
}

.navigation-only {
  padding: 50px 15px 50px 15px;
}

.navigation-only nav {
  display: grid;
}

.navigation-only ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.navigation-only li {
  list-style-type: none;
}

.navigation-only h6 {
  font: 600 23px "Overpass", sans-serif;
  margin-bottom: 15px;
}

.navigation-only b {
  color: var(--font-color-two-main);
}

.navigation-only a {
  font: 400 15px "Inter", sans-serif;
  color: var(--font-color-main);
  line-height: 35px;
  text-decoration: none;
  position: relative;
  width: max-content;
}

.navigation-only a:hover {
  color: var(--font-color-two-main);
  transition: 0.3s;
}

.navigation-only a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--linear-primary-main);

  position: absolute;
  left: 0;
  bottom: -1px;

  transition: width 0.2s;
}

.navigation-only a:hover::after {
  width: 100%;
}

.line-copyright {
  background: var(--font-color-main);
  height: 1.3px;
}

.copyright-only {
  padding: 12px;
  text-align: center;
}

copyright {
  font: 400 13px "Inter", sans-serif;
  color: var(--font-color-main);
}

iframe {
  display: block;
}

#two {
  display: none;
}

.infos,
.infos nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos {
  margin-bottom: 35px;
}

.infos a,
.infos p {
  font: 400 15px "Inter", sans-serif;
  text-decoration: none;
  color: var(--scrollbar);
  position: relative;
}

.infos p {
  margin: 0 15px;
  font-size: 17px;
}

.infos a:hover {
  color: var(--font-color-two-main);
  transition: 0.3s;
}

.infos a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--linear-primary-main);

  position: absolute;
  left: 0;
  bottom: -3px;

  transition: width 0.2s;
}

.infos a:hover::after {
  width: 100%;
}

@media screen and (max-width: 860px) {
  #one {
    display: none;
  }

  #two {
    display: flex;
    justify-content: space-evenly;
  }

  li {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  .navigation-only {
    padding: 50px 0;
  }

  #desktop {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  #two {
    flex-direction: column;
    align-items: center;
  }
}

/* v2.0.1 */

.header a {
  position: relative;
  max-width: max-content;
}

.header a:hover {
  color: var(--font-color-two-main);
  transition: 0.3s;
}

.header a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--linear-primary-main);

  position: absolute;
  left: 0;
  bottom: -2px;

  transition: width 0.2s;
}

.header a:hover::after {
  width: 100%;
}

ul {
  gap: 25px;
}

@media screen and (max-width: 375px) {
  .head-al {
    margin: 5px 15px;
  }
}

@media screen and (max-width: 864px) {
  nav.show .menu {
    z-index: 1;
  }

  #close {
    z-index: 1;
  }
}

@media screen and (max-width: 864px) {
  nav.container {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .pages-forml, .pages-forml b {
    font-size: 15px;
  }

  .head-al {
    margin: 5px 7px;
  }
}

header {
  user-select: none;
}

/* V2.1 */

.maps {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 35px;
}

.maps p {
  font: 400 15px 'Inter', sans-serif;
  color: var(--scrollbar);
  margin: 0 10px;
}

.maps a {
  font: 500 15px 'Inter', sans-serif;
  color: var(--scrollbar);
}

.maps a:hover::after {
  bottom: -5px !important;
}

/* V2.2 */

.flcompy {
  background: var(--bg-service);
  padding: 5px 0;
}

.flcompy a {
  color: var(--color-three);
  font: var(--font-secondary);
  text-decoration: none;
  font-size: 10px;
  position: inherit;
}

.flcompy a:hover {
  color: var(--color-hover);
}

.flcompy ul {
  user-select: none;
  list-style-type: none;
  display: grid;
  width: min-content;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  margin-left: 8vw;
}

.flcompy li {
  width: fit-content;
  line-height: 0;
}

.lines {
  background: var(--color-hover);
  height: 1px;
}

@media screen and (max-width: 860px) {
  .flcompy li {
    margin: 0 !important;
  }
}

@media screen and (max-width: 425px) {
  .flcompy ul {
    width: auto;
    gap: 0;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flcompy {
    padding: 5 0;
  }
}